<h3>{{welcome}}</h3>
<app-student [pmessage]="message" (updateMessage)="changeMessage($event)"></app-student>
<span  id="emessage"  style="color:blue;font-size: 16px;font-weight: bold;">
{{message}}
</span>
    <br/>
     
         <label for="username">Username</label>
         <input #username  type="text" name="username" class="form-control" id="username">
           <br/>
            <label>Password</label>
         <input #password type="password" name="password" class="form-control" id="password">
          <br/>
<button type="button" class="btn btn-primary" (click)="authUser(username,password);">Sign In</button>
&nbsp;
<a routerLink="/signup"><button type="button" class="btn btn-info">Sign Up</button></a>
&nbsp;
<a href="forgotPassword.jsp"><button type="button" class="btn btn-primary">{{btMessage}}</button></a>
<hr/>
<p>The .table-bordered class adds borders on all sides of the table and the cells:</p>            
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.name}}</td>
      <td>{{customer.mobile}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.password}}</td>
    </tr>
   
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>