


<div  class="container">
  <app-student></app-student>
  <span  id="emessage"  style="color:blue;font-size: 16px;font-weight: bold;"></span>
      <br/>
       
           <label for="username">Username</label>
           <input type="text" name="username" class="form-control" id="username" onkeyup="clearMsg();">
             <br/>
              <label>Password</label>
           <input type="password" name="password" class="form-control" id="password" onkeyup="clearMsg();">
            <br/>
<button type="button" class="btn btn-primary" onclick="validateLogin();">Sign In</button>
&nbsp;
<a href="signup.jsp"><button type="button" class="btn btn-info">Sign Up</button></a>
&nbsp;
<a href="forgotPassword.jsp"><button type="button" class="btn btn-primary">Forget Password</button></a>

<app-student></app-student>
</div>

