<h3>User Signup Page!</h3>
<span  id="emessage"  style="color:blue;font-size: 16px;font-weight: bold;">
{{message}}
</span>
    <br/>
     
         <label for="username">Username</label>
         <input type="text" [(ngModel)]="signup.username"  name="username" class="form-control">
           <br/>
            <label>Password</label>
         <input  type="password" [(ngModel)]="signup.password" name="password" class="form-control">
          <br/>
          <label>Email</label>
       <input type="email" [(ngModel)]="signup.email" name="email" class="form-control">
       
        <br/>
        <label>Mobile</label>
     <input  type="text" [(ngModel)]="signup.mobile" name="mobile" class="form-control">
      <br/>


<button type="button" class="btn btn-primary" (click)="csignup();">Sign Up</button>
&nbsp;
<a routerLink="/signup"><button type="button" class="btn btn-info">Sign In</button></a>
&nbsp;
<a href="forgotPassword.jsp"><button type="button" class="btn btn-primary">{{signup.username}}</button></a>
